
/*pour toutes les pages */
body{
    background-color : #263238 ;
    font-family : "Comic Sans MS";
    font-size : larger;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 2;
}

main {
    flex: 1 0 auto;
}
    
.menuH{
    color :#999;
}

h1,h2,h3,h4,h5,p,.caption, .col.s12.m6 {
    text-align : center ;
    color : #fde7dd;
}

.centered-list {
    color : #fde7dd;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.material-icons {
    vertical-align: middle;
}

.caption {
    font-style: italic ;
}

span {
    margin-right: 50px; /* Ajoutez la valeur d'espace souhaitée */
}

.centered-list {
    text-align: center; /* Aligner le texte au centre */
    margin: 0; /* Supprimer la marge par défaut du navigateur */
    padding: 0; /* Supprimer le rembourrage par défaut du navigateur */
}

.icones {
    i.circle {
        font-size: 18px;
        line-height: 42px;
        color: #fff;
        background-color: #999;
        text-align: center;
    }
    .circle {
        position: relative;
        margin-right: 16px;
        margin-bottom: 16px;
        float: left;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
    }
}

footer {
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.sidenav-title {
    font-weight: bold;
    color: #fff;
}


@media only screen and (min-width: 992px) {
    .custom-width {
        width: 350px;
        height: auto; /* Ajuste la hauteur de manière proportionnelle */
    }

    .custom-link {
        color: #fde7dd;
    }

    /* Styles pour le lien visité */
    .custom-link:visited {
        color: #887269;
    }


}

.position{
    text-align: center;
}

    .svgImage {
        max-height: 480px; /* Ajustez la valeur selon votre préférence */
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

    }

    /* Ajoutez un style pour le zoom */
   .svgImage.zoomed {
        transform: scale(2); /* Ajustez la valeur selon votre préférence */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1000;
    }


#tricot-image {
    max-width: 100%; /* ou une valeur spécifique en pixels, pourcentage, etc. */
    max-height: 400px;
}

strong{
    color :orange;
}

